@import 'tailwindcss';

<<<<<<< HEAD
/* Estilos base adicionales */
body {
  font-family: 'Inter', Arial, sans-serif;
  background-color: #f7fafc; /* background */
  color: #222;
=======
body {
  @apply bg-gray-100;
>>>>>>> origin/msanhueza
}